.CrawlerLogItem {
  position: relative;
  overflow: hidden;
}

.CrawlerLogItem-url {
  position: relative;
  padding: 6px 0 6px 20px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
}

.CrawlerLogItem-url::before {
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 7px;
  left: 0;
  background: url('data:image/svg+xml;utf8,<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15 7.5H0M7.5 0V15" stroke="black"/></svg>');
  content: '';
  opacity: .6;
  transition: transform .5s;
}

.CrawlerLogItem--open .CrawlerLogItem-url::before {
  transform: rotate(135deg);
  transition: transform .5s;
}

.CrawlerLogItem-url::after {
  position: absolute;
  margin-left: .62em;
  content: '. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .';
  white-space: nowrap;
  color: rgba(0, 0, 0, .5);
}

.CrawlerLogItem-url:hover {
  color: #000;
}

.CrawlerLogItem-code {
  position: absolute;
  top: 6px;
  right: 0;
  padding-left: 30px;
  background: linear-gradient(90deg, transparent, #fff 10px);
}

.CrawlerLogItem-code--2xx {
  color: #a5ce37;
}

.CrawlerLogItem-code--5xx {
  color: #e95533;
  font-weight: 700;
}

.CrawlerLogItem--open .CrawlerLogItem-details {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 4px 5em 8px 20px;
}

.CrawlerLogItem-details {
  display: none;
  font-size: 14px;
}

.CrawlerLogItem-detailsTitle {
  width: 6em;
  padding: 2px 0;
  text-transform: uppercase;
}

.CrawlerLogItem-detailsData {
  width: calc(100% - 6em);
  margin: 0;
  padding: 2px 0;
}

.CrawlerLogItem-headers {
  margin: 0;
  padding: 0;
  list-style: none;
}

.CrawlerLogItem-headers > li > span {
  color: rgba(0, 0, 0, .6);
  white-space: nowrap;
}
