.Crawler-example {
  margin-top: 8px;
  font-size: 14px;
}

.Crawler-form {
  position: relative;
}

.Crawler-submit {
  position: absolute;
  top: 0;
  right: 0;
}

.Crawler-container {
  display: flex;
}

.Crawler-stats {
  position: sticky;
  top: 0;
  margin-left: 32px;
  flex: 0 0 102px;
  align-self: flex-start;
}

.Crawler-log {
  flex-grow: 1;
}
